:root {
  --main-color-text: #757575;
  --accent-color: #2196f3;
  --sub-color-text: #212121;
  --bg-color-main: #ffffff;
  --bg-color-sub: #2f303a;
  --color-text-sub-two: (255, 255, 255, 1);
  --hero-text: #ffffff;
  --bg-button: #f5f4fa;
}
/* основний колір тесту: #757575; */
/* допоміжний колір тексту: #212121 */
/* колір акцента #2196f3 */
/* колір фону #ffffff */

/* body */
.body {
  background: var(--bg-color-main);
}
/* index */
/* header */
.list {
  list-style: none;
}
.link-nav {
  color: var(--sub-color-text);
}
.link-contacts {
  color: var(--main-color-text);
}
.link-nav:hover,
.link-contacts:hover,
.link-footer:hover {
  color: var(--accent-color);
}
.link-nav:focus,
.link-contacts:focus,
.link-footer:focus {
  color: var(--accent-color);
}
/* main */
/* hero */
.hero {
  background-color: var(--bg-color-sub);
}
.hero-title {
  color: var(--hero-text);
}
.hero-button {
  background-color: var(--accent-color);
  color: var(--hero-text);
  cursor: pointer;
}

/* the better we are */

.privileges-title {
  color: var(--sub-color-text);
}
.privileges-subtitle {
  color: var(--main-color-text);
}

/* we-do + team*/
.subject {
  color: var(--sub-color-text);
}
/* we-do */

/* team */
.team-caption {
  color: var(--sub-color-text);
}
.team-subtitle {
  color: var(--main-color-text);
}

/* footer */
.footer-webstudio {
  background-color: var(--bg-color-sub);
}
.address-webstudio {
  color: var(--hero-text);
}
.list .link-footer {
  color: (255, 255, 255, 0.6);
}

/* portfolio */

.works {
  background-color: #e5e5e5;
}
.works-button {
  background-color: var(--bg-button);
  color: var(--sub-color-text);
}
.works-button:hover {
  background-color: var(--accent-color);
  color: var(--hero-text);
}
.works-button:focus {
  background-color: var(--accent-color);
  color: var(--hero-text);
}
.example-title {
  color: var(--sub-color-text);
}
.example-subtitle {
  color: var(--main-color-text);
}
