a {
  text-decoration: none;
}
.list {
  list-style: none;
}

/* body */
.body {
  background-color: #ffffff;
  font-family: roboto;
}
/* header */
.link-webstudio-header {
  color: #000000;
  font-family: Raleway;
  font-weight: 700;
  font-size: 25px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.logo-web {
  color: #2196f3;
}
.link-nav {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
}
.link-nav:hover,
.link-contacts-header:hover,
.link-footer-contacts:hover {
  color: #2196f3;
}
.link-nav:focus,
.link-contacts-header:focus,
.link-footer-contacts:focus {
  color: #2196f3;
}
.link-contacts-header {
  color: #757575;
}
.webstudio-header .list-nav .active {
  color: #2196f3;
}
/* main */
/* hero */
.hero {
  background-color: #2f303a;
}
.hero-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
}
.hero-button {
  background-color: #188ce8;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}
.hero-button:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.hero-button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* the better we are */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.privileges-title {
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.privileges-subtitle {
  color: #757575;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
/* we-do */
.we-do-title,
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

/* team */
.team {
  background-color: #f5f4fa;
}
.item-team {
  background-color: #ffffff;
}
.team-caption {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-subtitle {
  color: #757575;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

/* footer */
.footer-webstudio {
  background-color: #2f303a;
  line-height: 1.7;
  font-size: 14px;
  letter-spacing: 0.03em;
}
.link-websudio-footer {
  color: #ffffff;
  font-family: Raleway;
  font-weight: 700;
  font-size: 25px;
  line-height: 1.2;
}
.address-webstudio {
  color: #ffffff;
  font-style: normal;
}
.link-footer-contacts {
  color: rgba(255, 255, 255, 0.6);
}
/* portfolio */
.works-button {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}
.works-button:hover {
  background: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.works-button:focus {
  background: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.item-example {
  background: #f5f4fa;
  border-radius: 4px;
}
.example-title {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.example-subtitle {
  color: #757575;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
